<style>
    body {
        background-color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
    }

    .chat-container {
        background-color: #fff;
        margin: 50px auto;
        max-width: 800px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
    }

    h3 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    input[type="text"] {
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 70%;
        margin-right: 10px;
    }

    input[type="submit"] {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #4CAF50;
        color: #fff;
        cursor: pointer;
        width: 30%;
    }

    #chat {
        height: 400px;
        overflow-y: scroll;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .message {
        margin-bottom: 10px;
    }

    .message p {
        margin: 0;
        padding: 5px;
        border-radius: 5px;
        background-color: #f2f2f2;
    }

    .message .sender {
        font-weight: bold;
        margin-right: 10px;
    }

    .message .time {
        font-size: 12px;
        color: #999;
    }
</style>
<h1>CHAT CODERHOUSE</h1>

<h3 id="name"></h3>
<form action="" method="post" id="chatForm">
    <input type="text" name="chatMessage" id="chatMessage">
    <input type="submit" value="SEND">
</form>

<div id="chat"></div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>