<div>
    {{#if products }}
        {{#each products }}
            <div> <p> {{ this.title }} </p> </div>
        {{/each}}
    {{else}}
        <div> <p> no se encontraron prodcutos </p> </div>
    {{/if}}
</div>


