<!-- FILEPATH: /C:/Users/Tobias/Desktop/Codehouse Backend/src/views/login.handlebars -->



<div class="container">
    <form action="/login" method="POST" class="form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </form>
</div>
