<!-- FILEPATH: /C:/Users/Tobias/Desktop/Codehouse Backend/src/views/signup.handlebars -->

<!-- Signup form -->
<form class="signup-form" action="/api/users/signup" method="post">
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="first_name" required>

    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="last_name" required>

    <label for="birth-date">Birth Date:</label>
    <input type="date" id="birth-date" name="birth_date" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Sign Up</button>
</form>



